<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.uestc.tmail.mapper.CategoryMapper">
    <select id="list" resultType="Category">
        SELECT * FROM category ORDER BY id DESC
        <if test="currentLocation != null and eachPageDataNumber != null">
            LIMIT #{currentLocation}, #{eachPageDataNumber}
        </if>
    </select>
    <select id="total" resultType="Integer">
        SELECT COUNT(*) FROM CATEGORY
    </select>
</mapper>